body {
    background: #222;
    font-family: "Mori";
    font-size: 24px;
    background-color: rgb(4, 0, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.main-section {
    width: 90%;
    position: relative;
    height: 100px;
    margin: auto;    
    overflow: hidden;
    gap: 20px;
}

.main-section .items {
    background-color: rgb(43, 226, 73);
    width: 100px;
    height: 100px;
    border-radius: 12px;
    position: absolute;
    left: 100%;
    animation: scrollTrigger 10s linear infinite;
}

.main-section .items1 {
    animation-delay: calc(30s / 8 * (8 - 1) * -1);
}

.main-section .items2 {
    animation-delay: calc(30s / 8 * (8 - 2) * -1);
}

.main-section .items3 {
    animation-delay: calc(30s / 8 * (8 - 3) * -1);
}

.main-section .items4 {
    animation-delay: calc(30s / 8 * (8 - 4) * -1);
}

.main-section .items5 {
    animation-delay: calc(30s / 8 * (8 - 5) * -1);
}

.main-section .items6 {
    animation-delay: calc(30s / 8 * (8 - 6) * -1);
}

.main-section .items7 {
    animation-delay: calc(30s / 8 * (8 - 7) * -1);
}

.main-section .items8 {
    animation-delay: calc(30s / 8 * (8 - 8) * -1);
}

@keyframes scrollTrigger {
    to {
        left: -100px;
    }
}